<div>
  <button mat-raised-button
          class="editor-open-tab-button"
          (click)="openTab('test1.simple', 'simple')">
    Open test1.simple
  </button>
  <button mat-raised-button
          class="editor-open-tab-button"
          (click)="openTab('test2.simple', 'simple')">
    Open test2.simple
  </button>
  <button mat-raised-button
          class="editor-open-tab-button"
          (click)="openTab('test3.simple', 'simple')">
    Open test3.simple
  </button>
  <button mat-raised-button
          class="editor-open-tab-button"
          (click)="openTab('test1.wordcheck', 'wordcheck')">
    Open test1.wordcheck
  </button>
  <button mat-raised-button
          class="editor-open-tab-button"
          (click)="openTab('test2.wordcheck', 'wordcheck')">
    Open test2.wordcheck
  </button>
</div>
<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)"
               dynamicHeight>
  <mat-tab *ngFor="let tab of tabs" [label]="tab">
    <ng-template mat-tab-label>
      {{tab.name}} ({{tab.language}})
      <mat-icon
        class="editor-tab-close-icon"
        (mouseenter)="onMouseOver(true, tab.name)"
        (mouseleave)="onMouseOver(false, tab.name)"
        (click)="closeTab(tab.name)">{{tab.icon}}</mat-icon>
    </ng-template>
    <spring-dsl-editor
      class="editor-tab-content"
      editorDirty="onDirty($event, tab.name)"
      [language]="tab.language"
      [uri]="tab.uri">
    </spring-dsl-editor>
  </mat-tab>
</mat-tab-group>
